@font-face {
    font-family: "FiraCode";
    src: url("../assets/fonts/FiraCode-Regular.woff") format("woff");
}

html, body, header, h1, section, p, img, footer, address, a, span {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    font-family: "FiraCode";

}

a, a:link, a:visited a:hover, a:active a:focus {
    text-decoration: none;  
    color: inherit;  
}

address{
    font-style: normal;
}

body {
    background-color: #1f1f1f;    
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;        
    flex-direction: column; 
}

.title {
    margin-top: 20px;
    font-family: "FiraCode";
    font-weight: bolder;
    font-size: 3.5em;
    text-align: center;
    color: #dadada;    
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.msg {
    color: #F9CA02;
    font-size: 2em;
    justify-self: center;    
    justify-self: center;    
}

.icon {
    margin: 10px;
    width: 50vw;
    height: 50vh;
    justify-self: center;
    align-self: center;
}

.github, .linkedin, a {
    width: 15vw;
    height: 7vh;
    color: white;
    text-align: center;
    font-size: 1.2em;
    line-height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.img-social {
    width: 7vw;
    height: 7vh;
    display: flex;
}

.txt {
    text-decoration: none;
    width: 15vw;
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    display: flex;
}

.github:hover, .linkedin:hover {
    text-decoration: underline;
    color: white;
    background-color: rgba(255, 255, 255, 0.349);    
}